/* ------------------------ Footer ----------------------------- */
#footer {
  color: white;
  margin: 0px 30px;
}
#main-footer {
  padding: 80px 0 30px 0;
}
#part1-footer a {
  text-decoration: none;
}
#part1-footer a h2 {
  color: white;
  text-decoration: none;
}
#part1-footer a h2:hover {
  color: #c547ff;
}
#part1-footer h6 {
  margin-top: 36px;
  font-size: 18px;
}
#part1-footer .social-media {
  margin: 10px 0 20px;
}
#part1-footer a span {
  font-size: 26px;
  color: white;
  margin-right: 10px;
}
#part1-footer a span:hover {
  color: #c547ff;
}
#sub-footer #sub1 h4,
#sub-footer #sub3 h4 {
  padding-bottom: 10px;
  border-bottom: 2px dotted white;
}
#sub-footer #sub1 ul,
#sub-footer #sub3 ul {
  margin-top: 30px;
}
#sub-footer #sub1 ul li,
#sub-footer #sub3 ul li {
  list-style: none;
  font-size: large;
  margin: 20px 0;
}
#sub-footer #sub1 ul li a {
  color: white;
  text-decoration: none;
}
#sub-footer #sub1 ul li a:hover {
  color: #c547ff;
}
#sub-footer #sub3 ul li p span {
  font-size: 17px;
  margin-right: 10px;
}
#sub-footer #sub3 ul li p span:hover,
#sub-footer #sub3 ul li p span a:hover {
  color: #c547ff;
}
#sub-footer #sub3 ul li p span a {
  text-decoration: none;
  color: white;
}
#copy {
  background-color: #32323c;
}
#end-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 16px;
  background-color: #32323c;
}
#end-footer p span:hover {
  color: #c547ff;
}

@media (max-width: 768px) {
  #baner div {
    width: 65%;
    padding: 15px;
  }
  #baner div p {
    font-size: 17px;
  }
  #box3 {
    display: none;
  }
}
@media (max-width: 610px) {
  #baner div {
    width: 55%;
  }
  #baner div p {
    font-size: 15px;
  }
}
@media (max-width: 575px) {
  .navbar-text {
    display: none;
  }
  .nav-link {
    margin: 5px 0;
  }
}
.info-box {
  position: relative;
  transform: translateY(70px);
  opacity: 0;
  transition: all 2s ease;
}
.info-box.active {
  transform: translateY(0px);
  opacity: 1;
}
